<div>
  <div class="custom-card scale">
    <div class="custom-card-title">
      <h1>Créer un barème</h1>
    </div>
    <form class="custom-card-body" [formGroup]="scaleForm" (ngSubmit)="submit()">
      <div class="custom-card-row">
        <input type="text" name="scaleName" placeholder="Nom du barème" formControlName="label" required class="form-control">
      </div>
      <div class="custom-card-row">
        <div class="custom-card-column">
          <div class="form-row">
            <label for="ptsBonResultat">Points pour bon résultat : </label>
            <input type="text" pattern="^\d+$" name="ptsBonResultat" formControlName="ptsBonResultat" required class="form-control">
          </div>
          <div class="form-row">
            <label for="ptsNbButs">Points pour bon nombre de buts : </label>
            <input type="text" pattern="^\d+$" name="ptsNbButs" formControlName="ptsNbButs" required class="form-control">
          </div>
          <div class="form-row">
            <label for="ptsVainqueurFinal">Points pour bon vainqueur final : </label>
            <input type="text" pattern="^\d+$" name="ptsVainqueurFinal" formControlName="ptsVainqueurFinal" required class="form-control">
          </div>
        </div>
        <div class="headerdivider"></div>
        <div class="custom-card-column">
          <div class="form-row">
            <label for="ptsPatator">Points Patator : </label>
            <input type="text" pattern="^\d+$" name="ptsPatator" formControlName="ptsPatator" required class="form-control">
          </div>
          <div class="form-row">
            <label for="ptsPunchingball">Points Punching Ball : </label>
            <input type="text" pattern="^\d+$" name="ptsPunchingball" formControlName="ptsPunchingball" required class="form-control">
          </div>
        </div>
      </div>
      <div class="custom-card-row" *ngIf="error != null">
        <p class="error">{{error}}</p>
      </div>
      <div class="custom-card-row button-row">
        <input type="submit" name="submitBtn" value="Créer" class="material-btn-highlight" [disabled]="!scaleForm.valid">
        <input type="button" name="cancelBtn" value="Annuler" class="material-btn-cancel" (click)="cancel()">
      </div>
    </form>
  </div>
</div>
