<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Le nom est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Identifiant</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">L'identifiant est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">L'email est requis</div>
          <div *ngIf="email.errors.email">L'email doit être une adresse valide</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Le mot de passe est requis</div>
          <div *ngIf="password.errors.minlength">Le mot de passe doit être supérieur à 6 caractères</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">S'inscrire</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Erreur lors de l'inscription !<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
