<div>
  <div class="custom-card contest">
    <div class="custom-card-title">
      <h1>Créer une compétition</h1>
    </div>
    <form class="custom-card-body" (ngSubmit)="submit()" #competitionForm="ngForm">
      <div class="custom-card-row">
        <input type="text" name="contestName" placeholder="Nom de la compétition" [(ngModel)]="competition.label" required class="form-control">
      </div>
      <div class="custom-card-row">
        <input type="datetime-local" [(ngModel)]="competition.startDate" id="contestStartingDate" name="contestStartingDate" placeholder="Date de début"
                required class="form-control">
        <input type="datetime-local" [(ngModel)]="competition.endDate" id="contestEndingDate" name="contestEndingDate" placeholder="Date de fin"
                required class="form-control">
        
      </div>
      <div class="custom-card-row">
        <input type="submit" name="submitBtn" value="Créer" class="material-btn-highlight" [disabled]="!competitionForm.form.valid">
        <input type="button" name="cancelBtn" value="Annuler" class="material-btn-cancel" (click)="cancel()">
      </div>
      <!-- <p *ngIf="competitionForm.get('contestStartingDate').hasError('required')">champ requis</p>
      <p *ngIf="competitionForm.get('contestStartingDate').hasError('dateVaidator')">date non valide</p> -->
    </form>
  </div>
</div>