<div class="card my-5">
  <h3>Modifier un utilisateur</h3>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" [(ngModel)]="player.firstName"
               class="form-control" id="firstName" name="firstName" placeholder="Enter your firstName"
               required #firstName="ngModel">
      </div>

      <div class="form-group">
        <label for="lastName">Nom de famille</label>
        <input type="text" [(ngModel)]="player.lastName"
               class="form-control" id="lastName" name="lastName" placeholder="Enter your lastName"
               required #lastName="ngModel">
      </div>

      <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" [(ngModel)]="player.mail"
               class="form-control" id="mail" name="mail" placeholder="Veuillez indiquer une adresse mail valide"
                #mail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

        </div>

      <button type="submit" [disabled]="!playerForm.form.valid" class="btn btn-success" (click)="onSubmit()">Valider</button>
      <button type="cancel" class="btn btn-danger" (click)="onCancel()">Annuler</button>
    </form>
  </div>
</div>
