<!-- <mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form  [formGroup]="loginForm" class="my-login">
        <div class="bg-danger mt-2 p-2 text-center text-white"
        *ngIf="errorMessage != null">
        {{errorMessage}}
        </div>
      <table class="my-login" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input  matInput placeholder="Username" [(ngModel)]="username" formControlName="username" required>
            </mat-form-field>
          </td>
          <td *ngIf="isSubmitted && f.username.errors">Username is required</td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"  type="password" formControlName="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  <!-- </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button (click)="login()">Login</button>
  </mat-card-actions>
</mat-card> -->


<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <p>Don't have an account?</p>
    <a href="/signup" class="btn btn-success">Sign Up</a>
    <a routerLink="signup" class="btn btn-success">Sign Up</a>
  </div>
</ng-template>
