p {
    color: #3C3C3C;
    font-weight: bold;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .flex-row-center button {
//     background-color: #33C400;
//     border-radius: 5px;
//     color: white;
//     border: none;
//     height: 36px;
//     padding: 0 20px;
// }