<!-- <a routerLink="/"><h6 style="color: white">Home</h6></a>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-7 " id="magrid">
      <mat-grid-list cols="2">
        <mat-grid-tile>
            <a routerLink="pronostics">
                <img  src="../../../assets/Media/images/terrain.jpg" style="height: 150px;width: 150px"  class="rounded">
                <p>Pronostics</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="resultats">
                    <img  src="../../../assets/Media/images/result2.jpg" style="height: 150px;width: 150px" class="rounded">
                    <p>Résultats</p>
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a routerLink="classements">
                <img  src="../../../assets/Media/images/how-stats.png" style="height: 150px;width: 150px" class="rounded">
                <p>Classements</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a routerLink="competitions">
                <img  src="../../../assets/Media/images/how-cups.png" style="height: 150px;width: 150px" class="rounded">
                <p>Compétitions</p>
            </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="flex-row-center">
      <button class="material-btn-highlight" (click)="addContest()">Ajouter un concours</button>
  </div>
</div> -->


<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
