<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">Date</th>
        <th scope="col">Email</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.id }}</td>
        <td>{{ player.firstName }}</td>
        <td>{{ player.lastName }}</td>
        <td>{{ player.subscribeDate }}</td>
        <td><a href="mailto:{{ player.email }}">{{ player.mail }}</a></td>
        <td><button type="submit" class="btn btn-info" (click)="update(player)">Modifier</button></td>
        <td><button type="cancel" class="btn btn-danger" (click)="delete(player.id)">Supprimer</button></td>
      </tr>
      
      </tbody>
    </table>
  </div>
</div>
