<div class="container-expand-sm  bg-dark navbar-dark ">
  <div class="row ">

    <div class="col-sm-2" id="myprono">
      <span>PRONOWEB</span>
    </div>
    <div class="col-sm-8" id="mynav1">
      <div class="panel">
        <nav class="navbar navbar-expand-sm  bg-dark navbar-dark  justify-content-center "  id="mynav">
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link text-white " routerLink="/">
                <mat-icon>home</mat-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="pronostics">Pronostics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="resultats">Résultats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="classements">Classements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="contests">Compétitions</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="admin">Gestion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="actors">Equipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="players">Joueurs</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col navbar-nav"  id="classconn">
        <div class="panel panel-dark ">
            <nav class="navbar navbar-expand-sm  navbar-dark">
                <ul class="navbar-nav" id="conn">
                    <li *ngIf="!isAuth(); else loggedOut" class="nav-item" >
                      <a class="nav-link text-white" title="login" routerLink="login">
                        <mat-icon>account_circle</mat-icon>
                      </a>
                    </li>
                    <ng-template #loggedOut>
                      <li class="nav-item ">
                          <button style="height:35px" mat-button (click)="logout()" class="nav-link text-white" title="déconnexion">
                            <mat-icon style="height:20px">exit_to_app</mat-icon>
                          </button>
                      </li>
                    </ng-template>
                </ul>
            </nav>
        </div>
    </div>
  </div>


  <!-- <div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template> -->
</div>
