span {
    font-weight: 600;
}

form > div:nth-child(3) {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

button:first-child {
    margin-right: 5px;
}

button:last-child {
    margin-left: 5px;
}

h1 {
    display: inline-block;
}

div > a {
    color: #36CA03;
    margin-left: 15px;
}

.add-icon.material-icons {
    font-size: 30px;
    vertical-align: top;
    line-height: 0.8;
    margin-right: 7px;
}